gym==0.26.2
numpy==1.24.3
cloudpickle==2.2.1
gym-notices==0.0.8
matplotlib==3.7.2
contourpy==1.0.5
cycler==0.11.0
fonttools==4.25.0
kiwisolver==1.4.4
packaging==23.1
pillow==10.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
pygame==2.5.2
